hello-world/__pycache__/hello_world.cpython-311.pyc
hello_world_test.cpython-311-pytest-7.4.0.pyc
guidos-gorgeous-lasagna/__pycache__/lasagna_test.cpython-311-pytest-7.4.0.pyc
guidos-gorgeous-lasagna/__pycache__/lasagna.cpython-311.pyc
ghost-gobble-arcade-game/__pycache__/arcade_game_test.cpython-311-pytest-7.4.0.pyc
ghost-gobble-arcade-game/__pycache__/arcade_game.cpython-311.pyc
currency-exchange/__pycache__/exchange_test.cpython-311-pytest-7.4.0.pyc
currency-exchange/__pycache__/exchange.cpython-311.pyc
