hello-world/__pycache__/hello_world.cpython-311.pyc
hello_world_test.cpython-311-pytest-7.4.0.pyc
guidos-gorgeous-lasagna/__pycache__/lasagna_test.cpython-311-pytest-7.4.0.pyc
guidos-gorgeous-lasagna/__pycache__/lasagna.cpython-311.pyc